html, body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}
html {
  border-top: 1px solid #3a3a3a;
  border-left: 1px solid #3a3a3a;
  border-right: 1px solid #3a3a3a;
  height: calc(100vh - 1px);
}
body {
  background-color: rgba(3,3,3,.2);
}

@import 'assets/winstrap/css/winstrap.css';