<div class="entity-list theme-alt">
    <div class="entity-list-item">
        <div class="item-icon">
            <span class="glyph glyph-mail"></span>
        </div>
        <div class="item-content-secondary">
            <button type="button" data-toggle="button" class="btn btn-toggle-switch theme-alt" autocomplete="off" aria-pressed="false"></button>
        </div>
        <div class="item-content-primary">
            <div class="content-text-primary">Mail and Calendar</div>
            <div class="content-text-secondary">Microsoft Corporation</div>
        </div>
    </div>
    <div class="entity-list-item">
        <div class="item-icon">
            <span class="glyph glyph-camera"></span>
        </div>
        <div class="item-content-secondary">
            <button type="button" data-toggle="button" class="btn btn-toggle-switch theme-alt" autocomplete="off" aria-pressed="false"></button>
        </div>
        <div class="item-content-primary">
            <div class="content-text-primary">Camera</div>
            <div class="content-text-secondary">Microsoft Corporation</div>
        </div>
    </div>
    <div class="entity-list-item">
        <div class="item-icon">
            <span class="glyph glyph-report-hacked"></span>
        </div>
        <div class="item-content-secondary">
            <button type="button" data-toggle="button" class="btn btn-toggle-switch theme-alt" autocomplete="off" aria-pressed="false"></button>
        </div>
        <div class="item-content-primary">
            <div class="content-text-primary">Defender</div>
            <div class="content-text-secondary">Microsoft Corporation</div>
        </div>
    </div>
    <div class="entity-list-item">
        <div class="item-icon">
            <span class="glyph glyph-mail"></span>
        </div>
        <div class="item-content-primary">
            <div class="content-text-primary">Mail and Calendar</div>
            <div class="content-text-secondary">Microsoft Corporation</div>
            <div class="progress">
                <div class="progress-bar theme-alt" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="entity-list-item">
        <div class="item-icon">
            <img src="http://lorempixel.com/30/30/technics"/>
        </div>
        <div class="item-content-secondary">
            <div  class="content-text-primary">Unavailable</div>
        </div>
        <div class="item-content-primary">
            <div class="content-text-primary">App</div>
            <div class="content-text-secondary">Microsoft Corporation</div>
        </div>
    </div>
</div>